<section class="section">
  <h1>Log In</h1>
  <div class="row">
    <form action="/login" method="POST">
      {{#if flash}}
      <div class="row">
        <div class="input-field col s12">
          <div class="card-panel red">{{flash}}</div>
        </div>
      </div>
      {{/if}}
      <div class="row">
        <div class="input-field col s12">
          <input id="username" name="username" type="text" class="validate" required>
          <label for="username">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" name="password" type="password" class="validate" required>
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <button type="submit" class="waves-effect waves-light btn">Log In</button>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="input-field col s12">
        <a href="/create">Click here to create a new account.</a>
      </div>
    </div>
  </div>
</section>
